/* page wrapper container */
#page_wrapper {
	margin: 0 auto;
	width: 80%;
	margin-top: 80px;
}


/* header area with name */
#imprint_header {
	background-color: #000;
	height: 50px;
}

#imprint_header p {
	color: #ADD8E6;
	padding: 5px 8px;
	font-weight: bold;
}


/* display text in navigation area cell centered */
.datenavigation th {
	text-align: center;
}

/* make each cell the same with */
.dayheader {
	width: 14%;
}


/* position the button for "today" centered over the calendar table */
#todayselector {
	margin: 0 auto !important;
	display: block !important;
	margin-top: 20px !important;
	margin-bottom: -40px !important;
}


/* calendar table formatting */
.calendar {
	margin-top: 50px;
}

.calendar td.dayCellOutside {
	background-color: #ebebeb;
}

.calendar td.dayCell {
	cursor: pointer;
}

.calendar td.dayCell:hover {
	background-color: #ADD8E6;
}

.calendar td.dayCell .date {
	color: #a0a0a0;
	font-size: 0.8em;
	float: left;
	width: 15%;
	margin-right: 5%;
}

.calendar td.dayCell .events {
	float: right;
	width: 80%;
}

.calendar td.now {
	background-color: #cecece;
}

.calendar td.now .date {
	color: #f00;
	font-weight: bold;
}


/* formatting the event form */
#eventform {
	display: none;
}

#eventform  form ul {
	list-style-type: none;
}

#eventform  form ul li span {
	font-weight: bold;
}

#eventform label {
	display: block;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

#eventform form ul {
	padding: 0.3em;
}

#eventform select, input[type='text'], textarea {
	width: 250px;
	padding: 3px;
}

#eventform  input[type='text'] {
	width: 245px;
}


/* Styling an event block */
.events .event {
	font-size: 0.7em;
	background-color: #68A1E5;
    color: #FFFFFF;
	margin-bottom: 5px;
}

.events .event .eventTitle {
	padding: 2px;
	text-align: center;
	font-weight: bold;
	
	background-color: #2B72D0;
    border: 1px solid #1B62C0;
    color: #FFFFFF;
}

.events .event .eventDescription {
	padding: 2px;	
}